@font-face {
    font-family: ggsans-bold;
    src: url("/fonts/gg-sans/gg sans Bold.ttf");
  }

.content1 img {
    padding: 0;
}

.content2 {
    padding: 0px 160px 0px 120px;
}

.title {
    font-size: 45px;
    font-family: "ggsans-bold";
    font-weight: 700;
    margin: 0;
    line-height: 48px;
}